
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #0056b3;
    padding: 10px 15px;
    border-radius: 5px;
}

main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

#intro p {
    max-width: 800px;
    margin: 0 auto; /* Centers the paragraph within the section */
    font-size: 1.2rem;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
